/*-------------------------------------*\
      Layout and helpers
      helpers.css
\*-------------------------------------*/

.row {
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
}

.row--gray {
  background-color: #eeeeee;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

@media screen and (min-width: 30em) {
  .row {
    flex-direction: row;
  }

  .row--vertical {
    flex-direction: column;
  }
}
  
.visually-hidden {
  font-size: 0;
  visibility:hidden;
}

.btn {
  border: 0;
  background-color: #81b3d2;
  color: #fff;
  margin: 0;
  padding: 0;
}

/*-------------------------------------*\
      Menu
      menu.css
\*-------------------------------------*/

.menu {
  height: 56px;
}

.menu__list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

}

.menu__item {
  flex: 1 1 auto;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  list-style: none;
  text-align: center;
}



/*-------------------------------------*\
      Masthead
      masthead.css
\*-------------------------------------*/

.masthead {
  background-image: url("../img/masthead__shape.png"), url("../img/masthead__main.jpg");
  background-position: center bottom, center center; 
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 110%;
  border: 0;
  font-size: 0;
  height: 60vw;
}



/*-------------------------------------*\
      Teaser
      teaser.css
\*-------------------------------------*/

.teaser {
  margin-bottom: 4rem;
  margin-top:    4rem;
  text-align:   center;    
}

.teaser__header {
  font-size:     1.33rem;
  padding-left:  0.6rem;
  padding-right: 0.6rem;
}

.teaser__text {
  display:      block;
  font-size:    0.9rem;
  padding-top:  1rem;
  text-align:   center;  
}



/*-------------------------------------*\
      Offers
      offers.css
\*-------------------------------------*/

.offers {
  margin-bottom: 4rem;
  margin-top:    4rem;  
}



/*-------------------------------------*\
      Main
      main.css
\*-------------------------------------*/

.main {}

.main__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.main__image--sedona-streets {
  background-image: url("http://anna-v.github.io/sedona/img/promo-img-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vw;
  min-height: 15rem;
}

.main__image--diablo-bridge {
  background-image: url("http://anna-v.github.io/sedona/img/promo-img-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vw;
  min-height: 15rem;
}

.main__header {
  margin-bottom: 0.7rem;
  margin-left:   0.4rem;
  margin-right:  0.4rem;
  margin-top:    1.4rem;
  text-align: center;
}

.main__text {
  display:       block;
  font-size:     0.9rem;
  margin-bottom: 1.4rem;
  margin-top:    0.7rem;
  text-align:    center;
}

.main__sequence {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  margin-top:    0.7rem;
  text-align: center;
}

.main__sequence::before,
.main__sequence::after {
  content: "\2014";
  margin-left:  0.4rem;
  margin-right: 0.4rem;
}



/*-------------------------------------*\
      Search form
      search.css
\*-------------------------------------*/

.search-form {
  margin-top: 2rem;
  text-align: center;
}

.search-form__teaser {}

.search-form__text {
  display: block;
}

.search-form__title {
  background-color: #766357; 
  color: #fff;
  padding: 2rem;
}

.search-form__wrapper {
  background-image: url("http://anna-v.github.io/sedona/img/index-map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 180px;
}

.search-form__container {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  padding: 3rem;
}

.search-form__body {
  align-items: center;
  display:   flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-form__label {
  font-weight: bold;
  padding-right: 0.5rem;
  text-align:    left;
}

.search-form__input {
  background-color: #f2f2f2; 
  border:     none;
  box-shadow: none;
  font-family: inherit;
  font-size:     1rem;
  height:        2.4em;
  margin-bottom: 0.7rem;
  margin-top:    0.7rem;
}

.search-form__submit {
  font-size: inherit;
  height: 3rem;
  margin-top: 3rem;
  text-transform: inherit;
  width: 100%;
}

.search-form__label--size-m {
  flex: 1 1 24%;
}

.search-form__input--size-l {
  flex: 2 2 75%;
}

@media screen and (min-width: 35em) {

    .search-form__container {
      width: 35rem;
    }
    .search-form__title {
      margin-left:  auto;
      margin-right: auto;
      margin-top:   0;
      width: 35rem;
    }

  }

@media screen and (min-width: 30em) {

    .search-form__label--size-sm {
      flex:  1 1 24%;
      min-width: 24%;
    }

    .search-form__input--size-sm {
      flex:  1 1 25%;
      min-width: 25%;
    }
}



/*-------------------------------------*\
      Footer
      footer.css
\*-------------------------------------*/

.footer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
  height: 120px;
  justify-content: space-around;
  margin-top: -120px;
  width: 100%;
  z-index: 1;
}

.footer__col {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.footer__copyright {
  font-size: 1rem;
  font-weight: normal;
}



/*-------------------------------------*\
      Social
      social.css
\*-------------------------------------*/

.social {
  background-image: url("http://anna-v.github.io/sedona/img/footer-icons.png");
  background-repeat: no-repeat;
  height: 48px;
  margin-left:  0.2rem;
  margin-right: 0.2rem;
  width: 46px;
}

.social__twitter {
  background-position: 0 0;
}

.social__facebook {
  background-position: -47px 0;
}

.social__youtube {
  background-position: -94px 0;
}



/*-------------------------------------*\
      Media box
      media.css
\*-------------------------------------*/

.media {
  display: flex;
  flex: 1 1 33%;
}

.media--vertical {
  flex-direction: column;
}

.media--direction {
  flex-direction: column;
}

@media screen and (min-width: 30em) {

  .media--direction {
    flex-direction: row;
  }
}

.media__body {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.media__object {
  display: flex;
  justify-content: center;
  flex:2 2 67%;
} 

.media__body--color-blue {
 background: #81b3d2; 
 color: #fff;
}

.media__header {
  margin-bottom: 0.7rem;
  margin-left:   auto;
  margin-right:  auto;
  margin-top:    1.4rem;
  max-width:     10rem;
  padding-left:  0.7rem;
  padding-right: 0.7rem;
  text-align: center;
}

.media__text {
  display:       block;
  font-size:     0.9rem;
  margin-bottom: 1.4rem;
  margin-top:    0.7rem;
  text-align:    center;
}

.media__sequence {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  margin-top:    0.7rem;
  text-align: center;
}

.media__sequence::before,
.media__sequence::after {
  content: "\2014";
  margin-left:  0.4rem;
  margin-right: 0.4rem;
}



/*-------------------------------------*\
      Icons
      icon.css
\*-------------------------------------*/

.icon {
  background-image: url("http://anna-v.github.io/sedona/img/promo-icons.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 76px;
  width: 76px;
}

.icon__accomodations {
  background-position: 0 0;
}

.icon__cafes {
  background-position: calc(-76px * 1) 0;  
}

.icon__presents {
  background-position: calc(-76px * 2) 0;    
}



/*-------------------------------------*\
      CSS reset and utils
      settings.css
\*-------------------------------------*/

/*
* {
  border: 1px solid red;
}
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, nav, section, footer, div, ul, li, h1, h2, h3, img {
  margin: 0;
  padding: 0;
}

body {
  font-family: PT Sans, Lato, Arial, sans-serif;
  text-transform: uppercase;
}

h1, h2, p {
  padding-left: 1rem;
  padding-right: 1rem;
}


@media screen and (min-width: 30em) {

  h1, h2, span, p {
    padding-left: 0;
    padding-right: 0;
  }
}
  
@media screen and (min-width: 40em) {

  body {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
    width: 90vw;
  }
}

@media screen and (min-width: 60em) {
  span {
    display: block;
  }  
}

root {
  --font__header: 1.33rem;
  --font__main:   0.9rem;
  --color--blue: #81b3d2;
}
